@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&family=Raleway:wght@400;700&display=swap');
@import url(./utilities.css);

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  color: white;
  font-family: 'Open Sans', sans-serif;
  font-size: 14px;
  font-weight: 400;
}

h1,
h2,
h3 {
  font-family: 'Raleway', sans-serif;
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
}

img {
  display: block;
  width: 100%;
}

/* HEADER */
.navbar {
  padding: 3rem 0;
  background-color: var(--clr-intro);
}

.navbar img {
  max-width: 200px;
}

.navbar a {
  color: white;
  font-size: 1.125rem;
}

.navbar li {
  margin-left: 2rem;
}

/* INTRO */
.intro {
  background-color: var(--clr-intro);
  background-image: url('images/bg-curvy-desktop.svg');
  background-repeat: no-repeat;
  background-size: contain;
  background-position: bottom;
  padding-bottom: 14rem;
}

.intro img {
  margin-top: 3rem;
  max-width: 700px;
}

.intro h1 {
  font-weight: 700;
  font-size: 2.5rem;
  margin: 1em 0;
  max-width: 700px;
}

.intro p {
  font-weight: 400;
  font-size: 1.125rem;
  max-width: 550px;
}

.intro .btn {
  width: 250px;
  margin-top: 2rem;
}

/* FEATURES */
.features {
  background-color: var(--clr-main);
}

.features .container {
  gap: 3rem;
}

.features__item img {
  max-width: 72px;
}

.features__item h3 {
  font-size: 1.125rem;
  margin: 2rem 0 1rem;
}

.features__item p {
  max-width: 356px;
}

/* PRODUCTIVE */
.productive {
  padding-top: 8rem;
  background-color: var(--clr-main);
}

.productive img {
  padding-right: 3rem;
}

.productive__text > * {
  margin-bottom: 1rem;
}

.productive__link {
  color: var(--clr-cyan);
  padding-bottom: 0.35rem;
  border-bottom: 1px solid var(--clr-cyan);
}

.arrow {
  display: inline-block;
  vertical-align: middle;
  width: 16px;
  height: 16px;
  background-image: url('images/icon-arrow.svg');
  background-repeat: no-repeat;
}

/* TESTIMONIAL */
.testimonials {
  padding-top: 8rem;
  background-color: var(--clr-main);
}

.testimonials .container {
  padding: 2rem 0.5rem;
  background-image: url('images/bg-quotes.png');
  background-repeat: no-repeat;
  background-position: top left;
  column-gap: 3rem;
}

.testimonial__card {
  background-color: var(--clr-testimonials);
  padding: 2.5rem 1.75rem 1.75rem;
  border-radius: 5px;
  box-shadow: 5px 5px 10px black;
}

.reviewer {
  margin-top: 1rem;
  display: flex;
  align-items: center;
}

.reviewer__avatar {
  width: 24px;
  height: 24px;
  border-radius: 50%;
  overflow: hidden;
}

.reviewer__info {
  margin-left: 0.5rem;
}

.reviewer__name {
  font-size: 0.725rem;
  font-weight: 700;
}

.reviewer__title {
  font-size: 0.5rem;
  font-weight: 400;
}

/* EARLY ACCESS */
.early-access {
  padding: 8rem 0;
  background-color: var(--clr-main);
}

.early-access .container {
  position: relative;
}

.action-card {
  position: absolute;
  top: 0;
  padding: 2rem 4rem;
  max-width: 800px;
  background-color: var(--clr-intro);
  border-radius: 5px;
  box-shadow: 5px 5px 10px black;
}

.action-card h1 {
  font-weight: 700;
  font-size: 2.5rem;
}

.action-card p {
  margin: 2rem 0;
}

::placeholder {
  opacity: 0.8; /* Firefox */
}

:-ms-input-placeholder {
  /* Internet Explorer 10-11 */
  opacity: 0.8;
}

::-ms-input-placeholder {
  /* Microsoft Edge */
  opacity: 0.8;
}

.search-input {
  font-family: 'Raleway', sans-serif;
  font-weight: 400;
  cursor: pointer;
  outline: none;
  border: none;
  padding: 1rem 2.5rem;
  border-radius: 25px;
  width: 60%;
  margin-right: 2rem;
}

/* FOOTER */
footer {
  background-color: var(--clr-footer);
  padding: 12rem 0 4rem;
}

.bottom-logo {
  max-width: 200px;
}

.footer-wrapper {
  margin-top: 2rem;
  justify-content: space-between;
}

/* contact */
.contact > *:first-child {
  align-items: flex-start;
  margin-right: 6rem;
}

.contact > *:first-child img {
  margin-top: 5px;
}

.contact__item {
  max-width: 320px;
  display: flex;
  align-items: center;
  margin-bottom: 1rem;
}

.contact__item img {
  width: 20px;
  height: 20px;
  margin-right: 1rem;
}

/* links */
.links a {
  font-size: 1.125rem;
  display: block;
  color: white;
  margin-bottom: 1rem;
}

.links > *:first-child {
  margin-right: 5rem;
}

/* socials */
.circle {
  cursor: pointer;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  border: 1px solid white;
  margin: 0 0.5rem;
}

.circle i {
  font-size: 1.125rem;
}

@media (max-width: 768px) {
  body {
    font-size: 0.875rem;
  }

  /* HEADER */
  .navbar img {
    max-width: 25vw;
  }

  .navbar li {
    margin-left: 1.5rem;
  }

  .navbar a {
    font-size: 1rem;
  }

  /* INTRO */
  .intro {
    background-image: url('images/bg-curvy-mobile.svg');
  }

  .intro h1 {
    font-size: 1.5rem;
  }

  .intro p {
    font-size: 1rem;
  }

  /* FEATURES */
  .features .container {
    grid-template-columns: 1fr;
    row-gap: 5rem;
  }

  .features__item h3 {
    font-size: 1.25rem;
  }

  /* PRODUCTIVE */
  .productive .container {
    flex-direction: column;
  }

  .productive img {
    padding-right: 0;
  }

  .productive__text {
    margin-top: 3rem;
    padding-right: 0;
  }

  .productive__text > h2 {
    font-size: 1.25rem;
  }

  /* TESTIMONIAL */

  .testimonials .container {
    padding: 2rem 1rem;
    background-size: 10%;
    background-position-x: 16px;
    background-position-y: 6px;
    grid-template-columns: 1fr;
    row-gap: 2rem;
  }

  .testimonial__card p {
    font-size: 0.725rem;
  }

  /* EARLY ACCESS */
  .action-card {
    position: absolute;
    top: -50px;
    padding: 2rem 1rem;
    max-width: 90%;
    background-color: var(--clr-intro);
    border-radius: 5px;
    box-shadow: 5px 5px 10px black;
  }

  .action-card h1 {
    font-size: 1.125rem;
  }

  .search-input {
    min-width: 100%;
    margin-right: 0;
  }

  .action-card .btn {
    margin-top: 1rem;
    width: 100%;
  }

  /* FOOTER */
  footer {
    padding: 16rem 0 4rem;
  }

  .footer-wrapper,
  .contact,
  .links {
    flex-direction: column;
  }

  /* contact */
  .contact > *:first-child {
    margin-right: 0;
  }

  /* links */
  .links {
    margin: 3rem 0;
  }

  .links a {
    font-size: 1.125rem;
    display: block;
    color: white;
    margin-bottom: 1rem;
  }

  .links > *:first-child {
    margin-right: 0;
    margin-bottom: 2rem;
  }

  /* socials */
  .socials {
    align-self: center;
  }
}
