@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&family=Raleway:wght@400;700&display=swap');
@import url(./utilities.css);

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  color: white;
  font-family: 'Open Sans', sans-serif;
  font-size: 14px;
  font-weight: 400;
}

h1,
h2,
h3 {
  font-family: 'Raleway', sans-serif;
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
}

img {
  display: block;
  width: 100%;
}

/* HEADER */
.navbar {
  padding: 3rem 0;
  background-color: var(--clr-intro);
}

.navbar img {
  max-width: 200px;
}

.navbar a {
  color: white;
  font-size: 1.125rem;
}

.navbar li {
  margin: 0 2rem;
}

/* INTRO */
.intro {
  background-color: var(--clr-intro);
  background-image: url('images/bg-curvy-desktop.svg');
  background-repeat: no-repeat;
  background-position: bottom;
  padding-bottom: 14rem;
}

.intro img {
  margin-top: 3rem;
  max-width: 700px;
}

.intro h1 {
  margin: 1em 0;
  max-width: 700px;
}

.intro p {
  max-width: 550px;
}

.intro .btn {
  width: 250px;
  margin-top: 2rem;
}

/* FEATURES */
.features {
  background-color: var(--clr-main);
}

.features .container {
  gap: 3rem;
}

.features__item img {
  max-width: 72px;
}
.features__item h3 {
  font-size: 1.125rem;
  margin: 2rem 0 1rem;
}

.features__item p {
  max-width: 356px;
}

/* PRODUCTIVE */
.productive {
  padding-top: 8rem;
  background-color: var(--clr-main);
}

.productive img {
  padding-right: 3rem;
}

.productive__text > * {
  margin-bottom: 1rem;
}

.productive__link {
  color: var(--clr-cyan);
  padding-bottom: 0.35rem;
  border-bottom: 1px solid var(--clr-cyan);
}

.arrow {
  display: inline-block;
  vertical-align: middle;
  width: 16px;
  height: 16px;
  background-image: url('images/icon-arrow.svg');
  background-repeat: no-repeat;
}

/* TESTIMONIAL */
.testimonials {
  padding-top: 8rem;
  background-color: var(--clr-main);
}

.testimonials .container {
  padding: 2rem 0.5rem;
  background-image: url('images/bg-quotes.png');
  background-repeat: no-repeat;
  background-position: top left;
  column-gap: 3rem;
}

.testimonial__card {
  background-color: var(--clr-testimonials);
  padding: 2.5rem 1.75rem 1.75rem;
  border-radius: 5px;
  box-shadow: 5px 5px 10px black;
}

.reviewer {
  margin-top: 1rem;
  display: flex;
  align-items: center;
}

.reviewer__avatar {
  width: 24px;
  height: 24px;
  border-radius: 50%;
  overflow: hidden;
}

.reviewer__info {
  margin-left: 0.5rem;
}

.reviewer__name {
  font-size: 0.725rem;
  font-weight: 700;
}

.reviewer__title {
  font-size: 0.5rem;
  font-weight: 400;
}

/* EARLY ACCESS */
.early-access {
  padding-top: 8rem;
  background-color: var(--clr-main);
}

.early-access .container {
  position: relative;
}

.action-card {
  position: absolute;
  padding: 2rem 4rem;
  max-width: 800px;
  background-color: var(--clr-intro);
  border-radius: 5px;
  box-shadow: 5px 5px 10px black;
}

.action-card p {
  margin: 2rem 0;
}

/* FOOTER */
footer {
  background-color: var(--clr-footer);
  padding: 12rem 0 4rem;
}

.bottom-logo {
  max-width: 200px;
}

.footer-wrapper {
  margin-top: 2rem;
  justify-content: space-between;
}

/* contact */
.contact > *:first-child {
  align-items: flex-start;
  margin-right: 6rem;
}

.contact > *:first-child img {
  margin-top: 5px;
}

.contact__item {
  max-width: 320px;
  display: flex;
  align-items: center;
  margin-bottom: 1rem;
}

.contact__item img {
  width: 20px;
  height: 20px;
  margin-right: 1rem;
}

/* links */
.links a {
  font-size: 1.125rem;
  display: block;
  color: white;
  margin-bottom: 1rem;
}

.links > *:first-child {
  margin-right: 5rem;
}

/* socials */
.circle {
  cursor: pointer;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  border: 1px solid white;
  margin: 0 0.5rem;
}

.circle i {
  font-size: 1.125rem;
}
